    body{
        padding: 0px;
        margin: 0px;
        background-color: black;
    }

    .contenedor{
        width: 500px;
        height: 800px;
        border: 1px solid  white;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    .cielo{
        position: absolute;
        left: -300px;
        top: -150px;
        animation: cielo 20s 1 forwards;
    }
    @keyframes cielo{
        from{
            scale:100%
  
        }
        to{
            scale:130%
        }
    }
    .montaña{
        position: absolute;
        left: -700px;
        animation: montaña 15s 1 forwards;
    }
    @keyframes montaña{
        from{
            top: 0px;
            scale: 90%;
            filter: blur(5px);
        }
        to{
            top: -10px;
            scale: 110%;
            filter: blur(0px);
        }
    }
    .persona{
        width: 500px;
        height: 300px;
        position: absolute;
        top: 500px;
        animation: persona 10s 1 forwards;
    }
    @keyframes persona{
        from{
            scale: 100%;
        }
        to{
            scale: 120%;
        }
    }
    .niebla{
        position: absolute;
        animation: niebla 15s 1 forwards;
    }
    @keyframes niebla{
        from{
            left: 0px;
            top: 150px;
        }
        to{
            left: -400px;
            top: 150px;
        }
    }
    .title{
    left: -300px;
    top: 90px; 
    position: absolute;
    }

    .title path{
        fill: transparent;
        stroke: rgb(0, 0, 0);
        stroke-width: 25;
        stroke-dasharray: 15000;
        stroke-dashoffset: 15000;
        animation: txtAnimation 10s ease forwards;
    }
    @keyframes txtAnimation{
        0%{
            stroke-dashoffset: 15000;
            fill: transparent;
        }
        100%{
            stroke-dashoffset: 0;
            fill: rgb(0, 0, 0);
        }
    }
    